<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Guten Tag,<br><br>
    bitte bestätigen Sie, ob die folgende Schicht wie geplant stattfindet:<br><br>
  <b>Name:</b> M. Haselmayer<br>
  <b>Datum:</b> 11. 11. 2011<br>
  <b>Schicht:</b> FFS<br>
  <b>Zeit:</b> 04:00 - 13:00 <br></p>
 <a href="http://www.google.com">Findet statt</a>
 <a href="http://www.google.com">Findet nicht statt</a>


  </body>
</html>
