<p>Guten Tag,<br><br>
    bitte bestätigen Sie, ob die folgende Schicht wie geplant stattfindet:<br><br>
  <b>Name:</b> M. Haselmayer<br>
  <b>Datum:</b> <%= @date %><br>
  <b>Schicht:</b> <%= @name %><br>
  <b>Zeit:</b> <%= @time %> <br></p>