<div class="container center confmessage"> 
<p>Die Schicht findet <b>nicht</b> statt.<br><br>
Der Mitarbeiter wurde per eMail informiert.<br><br>
Vielen Dank für Ihre Eingabe.</p>
</div>

<%= link_to "Zurück zur Schicht", shift_path, class: "center btn btn-default btn-info" %>