/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker

 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}
th {
    letter-spacing: 1.5px;
    font-weight: bold;
}
.center {
    text-align: center;
}

.confmessage {
    padding: 30px;
}

.new-shift-btn {
    margin: 15px;
    margin-top: 22px;
    float: left;
}

.big-btn {
    padding: 33px;
    margin: 120px;
    font-size: 18;
    font-weight: bold;
}

.buttonbox {
    padding: 25px;
}

.indexbar li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.indexbox {
    float: right; 
    padding: 10px;
    margin: 10px 15px 15px 10px;
}

.indexbox h4 {
    text-align: center;
}
